.App {
  text-align: center;
}

.LoginForm {
  background-color: white;
  margin: 20% 20% 25% 20%;
  padding: 5px 20px 5px 20px;
}

.SignUpForm {
  background-color: white;
  margin: 20% 20% 25% 20%;
  padding: 5px 20px 5px 20px;
}

.BooksResultsContainer {
  width: 25vw;
  height: 100vw
}

.card {
  width: 275px;
  height: 275px;
  text-align: left;
  margin: 5px;
  overflow-y: auto;
}

.card .card-title {
  font-size: 20px;
  font-weight: 300
}

.card-image {
  height: 50%;
  width: 100px
}

.author {
  font-size: 13px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
